Redirect 301 /arte7.php /index.php
Redirect 301 /arte6.php /index.php
Redirect 301 /macro_abst.php /index.php
Redirect 301 /macro_natu.php /index.php
Redirect 301 /contraluz.php /index.php
Redirect 301 /desnudo_hombre.php /index.php
Redirect 301 /desnudo_mujer.php /index.php


